
html {
    
background: rgba(224,139,244,1);
background: -moz-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,139,244,1)), color-stop(100%, rgba(145,167,217,1)));
background: -webkit-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -o-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -ms-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: linear-gradient(to right, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e08bf4', endColorstr='#91a7d9', GradientType=1 );
  
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.left, .right {
    margin: 150px auto;
    width: 375px;
    height: 667px;
    border-radius: 35px;
    background: rgb(248, 248, 248);
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.43);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.43);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.43);
}
.outer-outer {
    margin: 50px auto 70px auto;
    width: 95%;
    height: 530px;
    border: 1px solid rgb(197, 197, 197);
}
.outer {  
    width: 100%;
    height: 530px;
    background: rgba(224,139,244,1);
background: -moz-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,139,244,1)), color-stop(100%, rgba(145,167,217,1)));
background: -webkit-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -o-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: -ms-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
background: linear-gradient(to right, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e08bf4', endColorstr='#91a7d9', GradientType=1 );
background-size: 100% 100%;
background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.outer h4 {
    font-family: 'Leckerli One', cursive;
    font-size: 55px;
    line-height: 2px;
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.main-img {
    width: 70%;
    height: auto;
}
button {
    border: none;
    padding: 15px 45px;
    color: #3b3b3b;
    background: white;
    border-radius: 50px;
    margin-top: 40px;
    font-weight: 700;
}
.small-img {
    width: 12%;
    height: auto;
    margin: 5px;
}
.outer2 {
    width: 100%;
    background: white;
    height: 530px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.left-chat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 10px 20px 10px;
}
.right-chat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 10px 20px 10px;
}
.chat-box {
    padding: 10px;
    color: white;
    border-radius: 20px;
    background: -moz-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,139,244,1)), color-stop(100%, rgba(145,167,217,1)));
    background: -webkit-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
    background: -o-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
    background: -ms-linear-gradient(left, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
    background: linear-gradient(to right, rgba(224,139,244,1) 0%, rgba(145,167,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e08bf4', endColorstr='#91a7d9', GradientType=1 );
}
.send {
    align-self: flex-end;
    margin-top: 200px;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    background: rgb(82, 154, 248);

}
